# すべてのファイルの除外を指定。
*
# ディレクトリは許可(これをしないと、ディレクトリの中のファイルが除外されてしまう)
!*/
# 例外的に許可
!*.py
!*.ipynb
!.gitignore
!*.sav
!*.md
!*.html
!*.qmd
!*.ts
!*.kt
!*.kts
!*.scss
!*.css
!*.woff
!*.js
!*.eot
!*.ttf
# !*.PNG
# 明示的に除外.
.venv
node_modules
!*.pdf
!*.yml
!*.map
!machine_learning/recomend_system/twitter_rec/SimClusters/slides/slides_files
config.yml
!*slides/*.PNG
%XDG_DATA_HOME%
