/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
// !importantを使用して、どのような場合でも使用するルールとしてフラグを立てる。
// ロゴの設定
.reveal .slide-logo {
  // position
  top: 0;
  left: 12px;
  // size
  max-height: 3rem !important;
  height: 100%; 
  width: auto; 
}

// フッターの設定
.reveal .footer {
  font-size: 0.35em !important;
  text-align: left !important;
  background-color: #48fa42;
}
